<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <title>Nacho's Server</title>
</head>

<body>
  <main>
    <h1>API to Check Server Status</h1>
    <div class="info">
      <p class="big"><a href="http://<%= serverIP %>:9090/status">Check <%= hostName %> Status</a></p>
    </div>
    <footer>
      <p>Developed with 💙 in Berlin by <a href="https://github.com/NachoMerino/API-Server-ExpressJS">Nacho Merino</a>.</p>
    </footer>
  </main>
  <script type="text/javascript">
  const serverIP = '<%= serverIP %>';
  localStorage.setItem('serverIP', serverIP);

  </script>
</body>

</html>
