<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <title>Nacho's Server Login</title>
</head>

<body>
  <main>
    <h1>Welcome to API to Check <%= hostName %> Status</h1>
    <div class="info">
      <h1>Sign In</h1>
      <div class="info">
        <p class="big"><a href="http://<%= serverIP %>:9090/status">Check <%= hostName %> Status</a></p>
      </div>
      <!--login form -->
      <div class="user-login">
        <form class="form-signin">
          <h2 class="form-signin-heading">Sign in</h2>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmailLogin" class="form-control" placeholder="Email address" required>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <a href="#" id="new-registation" class="new-registation">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Not Registered yet? Create an account!
    </a>
        </form>
      </div>
      <!--login form -->
    </div>
    <footer id="myfooter">
      <p>Server Proudly developed by <a target="_blank" href="https://github.com/NachoMerino">NachoMerino</a>.</p>
    </footer>
  </main>
  <script type="text/javascript">
  const serverIP = '<%= serverIP %>';
  localStorage.setItem('serverIP', serverIP);

  </script>
</body>

</html>
